doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title QR Code Display
    link(href='css/styles.css', rel='stylesheet')

  body
    .center-content
      img.qr-co(src='assets/img/WeChat_Image.jpg' alt="QR Code")